
{{#each blogs as |blog|}}
<div data-id="{{blog.id}}">
  <!-- Are we going to display id? -->
  <div class="handlebars-container">
    <h3 class="title">{{blog.title}}</h3>
    <p class="author">Written by: {{blog.author}}</p>
    <p class="content"><pre class="text-body">{{blog.content}}</pre></p>
    <p class="date">Date created: {{blog.createdAt}}</p>
    <button class="btn btn-primary glyphicon glyphicon-menu-down" id="dropdown-blog" type="button" data-toggle="collapse" data-target="#collapseUpdate{{blog.id}}" aria-expanded="false" aria-controls="collapseUpdate{{blog.id}}">
</button>
<div class="collapse" id="collapseUpdate{{blog.id}}">
  <div class="well">
    <form class="blogs" id="update-blog" data-id="{{blog.id}}">
      <div class="form-group">
        <label>Title
        <input type="text" name="blog[title]" id="blog-title" placeholder="Title" value="{{blog.title}}">
      </label>
      <label>Author
        <input type="text" name="blog[author]" id="blog-author" placeholder="Author" value="{{blog.author}}">
      </label>
        <br>
        <textarea rows="10" cols="50" id="blog-textarea" name="blog[content]" placeholder="Content">{{blog.content}}</textarea>
      </div>
      <button type="submit" id="update-blog-btn" class="btn btn-success glyphicon glyphicon-pencil"></button>
    </form>
    <button type="button" id="delete-blog" data-id="{{blog.id}}" class="btn btn-danger glyphicon glyphicon-trash"></button>
    <div id="clear-div"></div>
  </div>
  </div>
  </div>

</div>


{{/each}}
