
{{#each blogs as |blog|}}
<div data-id="{{blog.id}}">
  <!-- Are we going to display id? -->
  <div class="handlebars-container">
    <h3 class="title">{{blog.title}}</h3>
    <p class="author">{{blog.author}}</p>
    <p class="content"><pre class="text-body">{{blog.content}}</pre></p>
    <p class="date">{{blog.createdAt}}</p>
    <form class="blogs" id="update-blog" data-id="{{blog.id}}">
      <div class="form-group">
        <input type="text" name="blog[title]" placeholder="Title" value="{{blog.title}}">
        <input type="text" name="blog[author]" placeholder="Author" value="{{blog.author}}">
        <textarea rows="10" cols="50" name="blog[content]" placeholder="Content">{{blog.content}}</textarea>
      </div>
      <button type="submit" class="btn btn-success">Update A Blog</button>
    </form>
    <button type="button" id="delete-blog" data-id="{{blog.id}}" class="btn btn-danger">Delete A Blog</button>
  </div>

</div>


{{/each}}
