
<div data-id="{{page.id}}">
  <!-- Are we going to display id? -->
  <div class="handlebars-container">
    <h1 class="header">{{page.header}}</h1>
    <p class="body"><pre class="text-body">{{page.body}}</pre></p>
    <footer class="footer">{{page.footer}}</footer>
    <button class="btn btn-primary glyphicon glyphicon-menu-down" id="dropdown-page" type="button" data-toggle="collapse" data-target="#collapseUpdate{{page.id}}" aria-expanded="false" aria-controls="collapseUpdate{{page.id}}">
</button>
<div class="collapse" id="collapseUpdate{{page.id}}">
  <div class="well">
    <form class="pages" id="update-page" data-id="{{page.id}}">
      <div class="form-group">
        <label>Header
        <input type="text" name="page[header]" placeholder="Header" value="{{page.header}}">
      </label>
        <br>
        <textarea rows="10" cols="50" name="page[body]" placeholder="Body">{{page.body}}</textarea>
        <br>
        <label>Footer
        <input type="text" name="page[footer]" placeholder="Footer" value="{{page.footer}}">
      </label>
      </div>
      <button type="submit" class="btn btn-success glyphicon glyphicon-pencil" data-toggle="tooltip" data-placement="bottom" title="Edit" id="update-page-btn"></button>
    </form>
    <button type="button" id="delete-page" data-id="{{page.id}}" class="btn btn-danger glyphicon glyphicon-trash" data-toggle="tooltip" data-placement="bottom" title="Delete"></button>
    <div id="clear-div"></div>
  </div>
  </div>
  </div>

</div>
